.container
{
    text-align: center;
    margin: 0 10px 50px;
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    border: solid 1px #d9d6d69e;
    border-radius: 7px;
}
.cardImage
{
    width:230px;
    height: 200px;
}

.container h3
{
    text-align: left;
    color: #404040;
    margin: 12px 0;
}
.container p
{
    text-align: left;
    color: #404040;
    font-size: 20px;
    margin: 0;
}
.linkContainer
{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
}

.linkContainer a
{text-decoration: none;
    color: #1a73e8;
}

.linkContainer button
{
    background-color: #1a73e8;
    border: none;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
}
.smallButton
{
    margin-right: 10px;
    height: 27px;
    width: 27px;
}
.counter
{
    display: inline;
    color: #1a73e8;
    font-weight: bold;
    margin-right: 11px;
}
@media (max-width:450px)
{
    .cardImage
    {
        width: 180px;
    }
}